@use "../base/mixins" as *;
@use "../base/media-queries" as *;


/* HOME */

body.du_fvg_lg-body {
  .du_fvg_lg-site-main.du_fvg_lg-home {
    .du_fvg_lg-main-content aside h1 {
      color: var(--blue-dark);
    }

    .du_fvg_lg-box-link {
      &:last-of-type {
        a {
          margin-bottom: 1.5rem;
        }
      }

      a {
        padding: 2.5rem 1.6rem 2.5rem 1.8rem;
        margin-bottom: 0.7rem;

        @include mediaQueryAllMobilePortrait {
          padding: 1.5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}