@use "../base/mixins" as *;
@use "../base/media-queries" as *;


/* BOX WITH LINK */
body.du_fvg_lg-body {
  .du_fvg_lg-box-link {
    &:last-of-type {
      a {
        margin-bottom: 1.5rem;
      }
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--blue-title);
      text-decoration: none;
      border-top: 5px solid var(--blue);
      background-color: var(--white);
      border-radius: var(--border-radius);
      align-items: center;
      padding: 1.1rem 1.6rem 1.1rem 1.8rem;
      box-shadow: var(--box-shadow);
      margin-bottom: 1rem;

      @include mediaQueryAllMobilePortrait {
        padding: 1.5rem;
      }

      h3 {
        padding: 0;

        @include mediaQueryAllMobilePortrait {
          @include font-16pt;
        }
      }

      p {
        @include font-16pt;
        flex: 0 0 13rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;

        svg {
          flex: 0 0 0.5rem;
          margin-left: 0.8rem;
          transform: rotate(180deg);
        }
      }
    }
  }
}