@use "../base/mixins" as *;
@use "../base/media-queries" as *;


/* BOX */

body.du_fvg_lg-body {
  .du_fvg_lg-box {
    background-color: var(--white);
    padding: 2rem 2rem 0.5rem 2rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);

    @include mediaQueryAllMobilePortrait {
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    }
  }
}