$smartphone-max-width: 480;
$small-tablet-max-width: 768;
$very-small-desktop-max-width: 1199;
$small-desktop-max-width: 1599;

@mixin mediaQueryAllMobile {
  @media not all and (pointer: fine) and (hover: hover) {
    @content;
  }
}

@mixin mediaQueryAllMobilePortrait {
  @media not all and (pointer: fine) and (hover: hover) {

    @media (max-width: #{$small-tablet-max-width}px),
    (orientation: portrait) {
      @content;
    }
  }
}

@mixin mediaQuerySmartphonesOnly {
  @media not all and (pointer: fine) and (hover: hover) {
    @media (max-width: #{$smartphone-max-width}px) {
      @content;
    }
  }
}

@mixin mediaQuerySmallTabletsOnly {
  @media not all and (pointer: fine) and (hover: hover) {
    @media (min-width: #{$smartphone-max-width + 1}px) and (max-width: #{$small-tablet-max-width}px) {
      @content;
    }
  }
}

@mixin mediaQuerySmartphonesAndSmallTablets {
  @media not all and (pointer: fine) and (hover: hover) {
    @media (max-width: #{$small-tablet-max-width}px) {
      @content;
    }
  }
}

@mixin mediaQueryBigTabletsOnlyPortrait {
  @media not all and (pointer: fine) and (hover: hover) {
    @media (orientation: portrait) and (min-width: #{$small-tablet-max-width + 1}px) {
      @content;
    }
  }
}

@mixin mediaQueryBigTabletsOnlyLandscape {
  @media not all and (pointer: fine) and (hover: hover) {
    @media (orientation: landscape) and (min-width: #{$small-tablet-max-width + 1}px) {
      @content;
    }
  }
}

@mixin mediaQueryDesktopOnly {

  @media screen and (pointer: fine) and (hover: hover) {
    @content;
  }
}

@mixin mediaQuerySmallDesktopOnly {

  @media screen and (pointer: fine) and (hover: hover) and (max-width: #{$small-desktop-max-width}px) {
    @content;
  }
}

@mixin mediaQueryVerySmallDesktopOnly {

  @media screen and (pointer: fine) and (hover: hover) and (max-width: #{$very-small-desktop-max-width}px) {
    @content;
  }
}

@mixin darkMode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}