@use "../base/mixins" as *;
@use "../base/media-queries" as *;


/* BODY/COMMONS */
.du_fvg_lg-body {
  display: flex;
  flex-wrap: wrap;

  @include mediaQueryAllMobilePortrait {
    display: block;
  }

  .du_fvg_lg-skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &:focus,
    &:active {
      position: fixed;
      left: 1rem;
      top: 1rem;
      width: auto;
      height: auto;
      padding: 0.5rem 0.75rem;
      background: #000;
      color: #fff;
      z-index: 1000;
      border-radius: 4px;
      text-decoration: none;
    }
  }

  .du_fvg_lg-visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}