@use "../base/mixins" as *;
@use "../base/media-queries" as *;

/* MAIN */
body.du_fvg_lg-body {
  .du_fvg_lg-site-main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .du_fvg_lg-main-content {
      display: flex;
      flex: 1;

      aside {
        flex: 0 0 40%;
        padding: 1.5rem 3.5rem;
        background-color: var(--white);
        color: var(--black-text);

        h1,
        h2,
        h3 {
          color: var(--blue-dark);
        }

        a {
          color: var(--blue-title);
        }
      }

      article {
        flex: 0 0 60%;
        background-color: var(--light-grey);
        padding: 3.5rem 4rem 3.5rem 3rem;

        h1,
        h2 {
          @include font-21pt;
          color: var(--blue-title);
        }

        a {
          color: var(--blue-title);
        }
      }
    }

    .du_fvg_lg-pagination {
      background-color: var(--blue-dark);
      color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100%;
      flex: 0 0 3.5rem;
      height: 3.5rem;
      padding-top: 0.2rem;

      p {
        display: flex;
        align-items: center;
        @include font-16pt;
        padding-bottom: 0;

        .du_fvg_lg-pagination-prev,
        .du_fvg_lg-pagination-next {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--white);
          border-radius: 3rem;
          width: 1.2rem;
          height: 1.2rem;
          margin: 0 1rem;

          svg {
            flex: 0 0 0.4rem;
          }
        }

        span.du_fvg_lg-pagination-prev,
        span.du_fvg_lg-pagination-next {
          background-color: var(--medium-grey);
        }

        .du_fvg_lg-pagination-next {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}