@use "base/fonts";
@use "base/reset";
@use "base/media-queries";
@use "base/variables";
@use "base/mixins";
@use "base/typography";

@use "parts/body";
@use "parts/header";
@use "parts/main";

@use "components/box-link";
@use "components/box";

@use "pages/home";